/* Reset stylów przeglądarki */

@import url(reset.css);

/* Czcionki i ułożenie elementów na stronie */

@font-face {
    font-family: Titillium_Light;
    src: url("../fonts/TitilliumText22L002.otf");
}

@font-face {
font-family: Titillium_Medium;
src: url("../fonts/TitilliumText22L004.otf");
}

/* inny sposób na box-sizing

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    max-height: 1375px;
    margin: 0 auto;
}

/* Style ogólne */

.form {
    width: 100%;
}

h1 {
    font-family: Titillium_Medium;
    font-size: 32px;
    color: #ffffff;
    clear: both;
    text-align: center;
    padding: 20px;
    height: 60px;
}

.form .field {
  display: flex;
  height: 40px;
  width: 90%;
  margin: 25px auto;
  border: 2px solid #c6c6c6;
  border-radius: 5px;
  background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
  color: #afafaf;
}

.textarea {
  display: flex;
  height: 225px;
  width: 90%;
  margin: 25px auto;
  border: 2px solid #c6c6c6;
  border-radius: 5px;
  background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
  color: #afafaf;
  resize:none;
}

.form .field .username,
.form .field .password,
.form .field .email,
.form .field .location,
.form .field .phone {
  height: 25px;
  width: 80%;
  border: 0;
  padding: 0 0 0 15px;
  background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
  font-size: 14px;
}

.form .field .user_icon,
.form .field .pass_icon,
.form .field .email_icon,
.form .field .location_icon,
.form .field .phone_icon {
  position: relative;
  width: 20%;
  background-repeat: no-repeat;
  background-position: center center;
}

.form .field .user_icon:after,
.form .field .pass_icon:after,
.email_icon:after,
.form .field .location_icon:after,
.form .field .phone_icon:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 0px;
  height: 30px;
  width: 2px;
  background-color: #e4e4e4;
}

.form .field .user_icon {
  background-image: url('../images/user.png');
}

.form .field .pass_icon {
  background-image: url('../images/pass.png');
}

.form .field .email_icon {
  background-image: url('../images/email.png');
}

.form .field .location_icon {
  background-image: url('../images/location.png');
}

.form .field .phone_icon {
  background-image: url('../images/phone.png');
}

input[type='checkbox'] {
  display: none;
}

[type="text"], [type="password"], [type="email"], [type="number"],
select {
    font-family: Titillium_Light;
    color: #afafaf;
    margin: 6px;
}

textarea {
    font-family: Titillium_Light;
    padding: 10px;
}

/* Nagłówek */

header {
    display: flex;
    align-items: center;
    width: 100%;
}

header img {
    margin: 25px auto;
    opacity: 0.34;
}

/* Główna zawartość witryny */

#left {
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 0px 70px;
}

#register_form {
    justify-content: center;
    align-items: center;
}

#send_email {
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.checkbox_left {
    font-family: Myriad Pro;
    font-size: 17px;
    color: #afafaf;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}

.checkbox_left label {
  position: relative;
}

.checkbox_left span::before,
.checkbox_left span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.checkbox_left span.checkbox::before {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #f5f5f5;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}

.checkbox_left span.checkbox::after {
    position: absolute;
    left: -0.5%;
    top: -50%;
    margin-left: 7.5px;
    margin-top: 5.5px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    border: none;
}

input[type="checkbox"]:checked + label span.checkbox::after {
  background-color: #8ac915;
}

label[for="checkbox_1"] {
  margin-left: 10px;
}

.submit_big {
    background: linear-gradient(to bottom, #94c93d, #99cc33); /* To do !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #ffffff;
    font-family: Titillium_Light;
    font-size: 24px;
    text-shadow: 1px 1px #51850e;
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #3b9a00;
    border-radius: 5px;
}

#right {
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    padding: 0px 70px;
}

#sign_in_form {
    justify-content: center;
    align-items: center;
}

#recover_form {
    justify-content: center;
    align-items: center;
}

#subscribe_form {
    justify-content: center;
    align-items: center;
}

.checkbox_right {
    font-family: Myriad Pro;
    font-size: 17px;
    color: #afafaf;
    width: 45%;
    padding: 10px;
    float:left;
}

.submit_small_green {
    background: #93d02b;
    color: #ffffff;
    font-family: Titillium_Light;
    font-size: 24px;
    text-shadow: 1px 1px #51850e;
    width: 80%;
    margin: 8px;
    padding: 10px;
    border: 1px solid #3b9a00;
    border-radius: 5px;
}

.submit_small_red {
    background: #f4495b;
    color: #ffffff;
    font-family: Titillium_Light;
    font-size: 24px;
    text-shadow: 1px 1px #51850e;
    width: 80%;
    margin: 8px;
    padding: 10px;
    border: 1px solid #ce3b49;
    border-radius: 5px;
}

.submit_right {
    width: 50%;
    float:left;
}

/* Stopka */

#footer img {
    margin: 40px auto;
    opacity: 0.34;
}

/* Media Queries */
