@import url(reset.css);

@font-face {
    font-family: Titillium_Light;
    src: url("../fonts/TitilliumText22L002.otf");
}

@font-face {
font-family: Titillium_Medium;
src: url("../fonts/TitilliumText22L004.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#wrapper {
    max-width: 1025px;
    max-height: 1375px;
    margin: 0 auto;
}

header img {
    width: 50%;
    opacity: 0.5;
    margin: 0 auto;
}

.form {
    width: 100%;
}

#footer img {
    opacity: 0.5;
}

h1 {
    font-family: Titillium_Medium;
    font-size: 32px;
    color: white;
    clear:both;
}

#left {
    float: left;
}

#right {
    float: left;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    margin: 10px;
    padding: 10px;
}

[type="text"], [type="password"], [type="email"], [type="number"],
select, textarea {
    font-family: Titillium_Light;
    font-size: 16px;
    color: afafaf;
    width: 80%;
    margin: 10px;
    padding: 10px;
}

.checkbox_left {
    font-family: Myriad Pro;
    font-size: 17,34px;
    color: afafaf;
    width: 80%;
    padding: 10px;
}

.checkbox_right {
    font-family: Myriad Pro;
    font-size: 17,34px;
    color: afafaf;
    width: 45%;
    padding: 10px;
    float:left;
}

.submit_big {
    background-color: 93d02b;
    width: 80%;
    margin: 10px;
    padding: 10px;
}

.submit_small {
    background-color: 93d02b;
    width: 80%;
    margin: 8px;
    padding: 10px;
}

.submit_small_2 {
    background-color: f4495b;
    width: 80%;
    margin: 8px;
    padding: 10px;
}

.submit_right {
    width: 55%;
    float:left;
}

#register_form {
    max-width: 430px;
    max-height: 460px;
    padding: 5%;
}

#send_email {
    max-width: 430px;
}

#sign_in_form {
    max-width: 430px;
    max-height: 460px;
    padding: 5%;
}

#sign_in_form:after {
    content:'';
    display:block;
    clear:both;
}

#recover_form {
    max-width: 430px;
    max-height: 460px;
    padding: 5%;
}

#recover_form:after {
    content:'';
    display:block;
    clear:both;
}

#subscribe_form {
    max-width: 430px;
    max-height: 460px;
    padding: 5%;
}

#subscribe_form:after {
    content:'';
    display:block;
    clear:both;
}

#footer {
    max-width: 430px;
}
