* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/background.jpg");
	background-color: #cccccc;
	background-position: center;
}

#wrapper {
	max-width: 1025px;
	max-height: 1375px;
	margin: 0 auto;
}

header img {
	width: 200px;
	display: inline;
}

#left {
	float: left;
}

#right {
	float: left;
}

.form input, textarea{
	width: 100%;
}

#register_form {
	max-width: 430px;
	max-height: 460px;
}

#send_email {
	max-width: 430px;
}

#sign_in_form {
	max-width: 430px;
}

#recover_form {
	max-width: 430px;
}

#subscribe_form {
	max-width: 430px;
}

#footer {
	max-width: 430px;
}

h1 {
	color: white;
}
