/* Reset CSS */

@import url(reset.css);
/* Fonts and positioning */

@font-face {
    font-family: 'Titillium_Light';
    src: url("../fonts/TitilliumText22L002.otf");
}

@font-face {
    font-family: 'Titillium_Medium';
    src: url("../fonts/TitilliumText22L004.otf");
}

* {
    box-sizing: border-box;
    /* css3 rec */
    -moz-box-sizing: border-box;
    /* ff2 */
    -ms-box-sizing: border-box;
    /* ie8 */
    -webkit-box-sizing: border-box;
    /* safari3 */
    -khtml-box-sizing: border-box;
    /* konqueror */
    font-family: 'Titillium', sans-serif;
    color: #afafaf;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* General styles */

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Titillium_Medium';
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 1px 0px #000000;
}

.border {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 15px;
}

.form {
    background-color: #f4f4f4;
    border-radius: 3px;
    width: 400px;
    padding: 15px;
    .field {
        display: flex;
        width: 90%;
        margin: 25px auto;
        border: 2px solid #c6c6c6;
        border-radius: 5px;
        background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
        color: #afafaf;
        position: relative;
    }
    .field_textarea,
    .checkbox_section {
        position: relative;
    }
}

.textarea {
    display: flex;
    min-height: 225px;
    width: 90%;
    margin: 25px auto;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
    color: #afafaf;
    resize: none;
    font-family: 'Titillium_Light';
    padding: 10px;
}

.form .field {
    .username,
    .password,
    .email,
    select,
    .phone {
        height: 25px;
        width: 80%;
        border: 0;
        padding: 0 0 0 15px;
        background: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
        font-size: 14px;
    }
    .user_icon,
    .pass_icon,
    .email_icon,
    .location_icon,
    .phone_icon {
        position: relative;
        width: 20%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .user_icon:after,
    .pass_icon:after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        right: 0px;
        height: 30px;
        width: 2px;
        background-color: #e4e4e4;
    }
}

.email_icon:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 0px;
    height: 30px;
    width: 2px;
    background-color: #e4e4e4;
}

.form .field {
    .location_icon:after,
    .phone_icon:after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        right: 0px;
        height: 30px;
        width: 2px;
        background-color: #e4e4e4;
    }
    .user_icon {
        background-image: url('../images/User.png');
    }
    .pass_icon {
        background-image: url('../images/pass.png');
    }
    .email_icon {
        background-image: url('../images/email.png');
    }
    .location_icon {
        background-image: url('../images/location.png');
    }
    .phone_icon {
        background-image: url('../images/phone.png');
    }
}

input[type="checkbox"] {
    display: block;
    width: 22px;
    height: 22px;
    float: left;
    background: #f4f4f4;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    -webkit-appearance: none;
    margin-right: 20px;
    &:hover {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
    }
    &:checked {
        background: url("../images/checkbox-checked.png") no-repeat 50% 50%;
    }
}

p {
    padding: 3px 0px;
    font-family: 'Myriad Pro';
    font-size: 17px;
    color: #afafaf;
}

[type="text"],
[type="password"],
[type="email"],
[type="number"],
select {
    font-family: 'Titillium_Light';
    color: #afafaf;
    margin: 6px;
}

/* Hide spin-button for input type=number */

input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }
}

/* Header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    a img {
        display: flex;
        justify-content: center;
        margin: 40px auto;
        opacity: 0.45;
    }
}

/* Main content */

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.left-column,
.right-column {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.register_form,
.send_email,
.sign_in_form,
.recover_form,
.subscribe_form {
    margin: 0px 45px;
}

.checkbox_section {
    display: flex;
    align-items: center;
    font-family: 'Myriad Pro';
    font-size: 17px;
    width: 90%;
    margin: 0px auto;
}

.small {
    width: 55%;
}

.btn {
    display: block;
    background: linear-gradient(to bottom, #a3d740, #7ec31f);
    color: #ffffff;
    font-family: 'Titillium_Light';
    font-size: 24px;
    text-shadow: 1px 1px #51850e;
    padding: 10px;
    border: 1px solid #3b9a00;
    border-radius: 5px;
}

.submit_big {
    width: 90%;
    margin: 15px auto;
}

.submit_small_green {
    width: 45%;
    &[value="Done"] {
        opacity: 0.45;
    }
}

.submit_small_red {
    background: linear-gradient(to bottom, #f65e70, #f03848);
    text-shadow: 1px 1px #a2202a;
    width: 45%;
    border: 1px solid #ce3b49;
}

.submit_small_green:hover,
.submit_big:hover {
    box-shadow: 2px 2px 5px rgba(22, 139, 22, 0.45);
}

.submit_small_red:hover {
    box-shadow: 2px 2px 5px rgba(219, 8, 8, 0.45);
}

.content_to_send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}

/* Bottom logo */

.logo {
    width: 100%;
    margin-top: 10%;
    a img {
        display: flex;
        justify-content: center;
        margin: 40px auto;
        opacity: 0.2;
        &:hover {
            opacity: 1;
        }
    }
}

/* Footer */

footer {
    width: 100%;
    margin: 20px;
}

/* Tips for users */

.form {
    .error {
        color: rgb(219, 8, 62);
        input {
            &[type=text],
            &[type="password"],
            &[type="email"],
            &[type="number"] {
                color: rgb(219, 8, 62);
                background: rgb(255, 237, 237) url(/images/error-icon.png);
                background-repeat: no-repeat;
                background-size: 10% 80%;
                background-position: calc(100% - 5px) center;
            }
        }
        select {
            color: rgb(219, 8, 62);
            background: rgb(255, 237, 237) url(/images/error-icon.png);
            background-repeat: no-repeat;
            background-size: 10% 80%;
            background-position: calc(100% - 5px) center;
        }
        textarea {
            background-position: calc(100% - 5px) 10px;
            background: rgb(255, 237, 237);
        }
        input[type="checkbox"] {
            border-color: rgb(219, 8, 62);
            background: rgb(255, 237, 237);
        }
        select {
            background-image: none;
            padding-right: 4px;
        }
    }
    .field-error {
        position: absolute;
        font-size: 0.7rem;
        color: rgb(219, 8, 62);
        top: 110%;
        left: 20%;
    }
    .field_textarea .field-error {
        top: 102%;
        left: 6%;
    }
    .checkbox_section .field-error {
        top: 96%;
        left: 1%;
    }
}

/* field for validation */

/* add loading animation to btn with this class */

.submit-busy {
    position: relative;
    /* pointer-events specifies under what circumstances (if any) a particular graphic element can become the target of mouse events. */
    pointer-events: none;
    opacity: 0.5;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-right-color: rgba(0, 0, 0, 0.7);
        transform: translate(-50%, -50%) rotate(0deg);
        animation: rotateSingleLoading 0.3s infinite linear;
    }
}

/* Loading animation */

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Media Queries - depends for page resolution */

@media (max-width: 480px) {
    img {
        max-width: 80%;
    }
    h1 {
        font-size: 25px;
        padding: 10px;
    }
    .border {
        padding: 10px;
    }
    .form {
        width: 290px;
    }
    p {
        font-size: 15px;
    }
    label[for="sign-checkbox"] p {
        font-size: 13px;
        padding: 0px;
    }
    .checkbox_section {
        font-size: 13px;
    }
    .register_form,
    .send_email,
    .sign_in_form,
    .recover_form,
    .subscribe_form {
        width: 310px;
        margin: 0;
    }
    .form .field {
        .username,
        .password,
        .email,
        .location,
        .phone {
            font-size: 12px;
        }
    }
    .submit_big,
    .submit_small_green,
    .submit_small_red {
        font-size: 12px;
    }
    .small_checkbox {
        margin-top: 5px;
    }
    .small,
    .sign_in_form .submit_small_green {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .form {
        width: 300px;
    }
    .border {
        padding: 5px;
    }
}